<h1>介绍</h1>
<p>如果你曾注意到Webkit核心浏览器执行CSS操作时的“闪烁”，特别是CSS transforms和animations时，那你很有可能遇到了“硬件加速”</p>

<h1>CPU,GPU和硬件加速</h1>
<p>简而言之，硬件加速代表GPU会帮你的浏览器承担渲染页面中的一些重活，而不是把所有活都丢给CPU处理。当通过硬件加速处理CSS时，被加速的页面渲染会更快</p>
<p>显而易见，CPU和GPU都是处理单元。CPU位于计算机主板，它作为电脑的“大脑”处理几乎所有事情。GPU位于显卡上，负责处理和渲染图像。进一步来说，GPU是被设计成专门处理图像渲染的复杂数学和几何运算的。因此，把处理分给GPU来做能产生巨大的效能收益并减轻移动设备上CPU的压力</p>
<p>当处理页面渲染时，硬件加速（例如GPU加速）依赖于浏览器所使用的层级模型（Layering Model）。当元素执行特定操作（比如3D transform）时，该元素会被移到属于它自己的“层”上，它会在这个层中独自被渲染完后再组合到页面中。这样使得当transform是不同帧中唯一变化时，元素的渲染被从页面余下部分中隔离出来，提供了速度上的效益。值得一提的是只有3D transform才有资格被独立到一个独立层中，2D transform并没有资格。</p>
<p>CSS animation， transform和transition并不会自动被GPU加速，而是通过浏览器缓慢的软件渲染引擎渲染。但是，某些浏览器通过为特定的CSS属性提供硬件加速提供更好的渲染性能。举个例子，opacity属性是少有的几个能被完全加速的属性，因为GPU可以轻易地处理它。基本上，浏览器已经足够聪明把任何你想改变opacity属性的层丢给GPU，并迅速地完成处理。在CSS中，opacity处理是性能最好的处理之一，你不会在使用它上遇到任何问题。里一个常见的硬件加速操作是CSS 3D transforms</p>

<h1>老方法：translateZ()（或tanslate3d()）技巧</h1>
<p>我们用translateZ()（或tanslate3d()）技巧欺骗浏览器，把animation和transform硬件加速已经有些时日了。我们通过给一个不会被3D transform的元素加上3D transform来这么做。例如：</p>
<p><span>transform: translate3d(0, 0, 0);</span></p>
<p>硬件加速操作的结果就是创造一个复合并传给GPU的复合层。但是，这种技巧并不能成为所有遇到性能瓶颈的页面的处理方法。创建层技巧可以提高页面速度，但随之而来的是占用系统内存和GPU及很多坏影响的代价，所以，你必须明智的使用来确保硬件加速操作能提高页面的性能，且页面的性能瓶颈并不是由其他操作造成的</p>
<p>为了避免创建层技巧，一个新CSS属性诞生了，让我们提前告诉浏览器我们可能会对一个元素执行什么操作，这让浏览器提前优化怎么处理这个元素，提前为可能高消耗的操作做准备，例如在animation操作开始之前。这个属性就是will-change。</p>

<h1>新方法：光荣的will-change属性</h1>
<p>will-change让我们提前告诉浏览器我们可能会对一个元素执行什么操作，所以它能提前做好优化，</p>



