$about-svg-width: 100px;
$about-svg-deb-width: 240px;


$c-design: #cd875d;
$c-engineering: #6486ba;
$c-business: #8faf65;

$about-deb-lr-margin: 60px;
$about-deb-tb-margin: $about-deb-lr-margin;
$about-deb-small-margin: 2%;

$timeline-border-width: 2px;
$timeline-joint-height: 24px;
$timeline-inyear-border-width: 2px;
$timeline-border-color: #363538;


$timeline-background: white;
$timeline-text-color: #59595a;

@mixin half-screen-fix-bg($w, $h){
  background-attachment: fixed;
  background-size: 51vw;

  @media (max-aspect-ratio: $w * 2/$h){
    background-size: auto 100vh;
  }
}




//**********************************************************
header.about + section[ui-view]{

  svg{
    z-index: 1000;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: $about-svg-width;
    height: $about-svg-width;
    margin-left: -$about-svg-width/2;
    margin-top: -$about-svg-width/2;

    @media all and (max-width: $small-break-point){
      display: none;
    }

    g.logo{
      @include apply-origin(50% 50%, false); //let logo rotate pivot be the center
      @include transform(translate(0, 0) scale(1));


      line, polyline{ //white name
        @include transition(all 1s);
        stroke: $c-main;
        fill: none;
        stroke-width: 2px;
        stroke-miterlimit: 10px;
      }

      #topFace, #leftFace, #rightFace{ //hide light&shadow
        @include transition(all 1s);
        @include apply-origin(50% 50%, false);
        opacity: 0;
      }

      #hexagon { //transparent white background
        @include transition(all 0.4s);
        @include apply-origin(50% 50%, false);
        fill: rgba(white, 0.7);
      }
    }


    g.text text[id^=svgYear]{
      @include transform(translate(19px, 59px));

      fill: $timeline-border-color;

      opacity: 0;
    }
  }

  svg.normal{
    g{

      line, polyline{
        opacity: 0;
        stroke: white;

      }
      #topFace, #rightFace{
        opacity: 0.3;
      }

      #hexagon{
        opacity: 1;
      }
    }


    #svgYear{
      @include transform(translate(20px, 60px));
      opacity: 0;
    }
  }

  svg.deb{
    width: $about-svg-deb-width;
    height: $about-svg-deb-width;
    margin-left: -$about-svg-deb-width/2;
    margin-top: -$about-svg-deb-width/2;

    g.logo{
      @include transform(translate($about-svg-deb-width/2- 50px, $about-svg-deb-width/2- 50px));
      #topFace, #leftFace, #rightFace{
        opacity: 1;
      }

      #topFace{
        fill: $c-design;
        @include transform(scale(1.2) translate(0, -50px));
      }
      #leftFace{
        fill: $c-business;
        @include transform(scale(1.2) translate(-50px, 10px));
      }
      #rightFace{
        fill: $c-engineering;
        @include transform(scale(1.2) translate(50px, 10px));
      }
    }

    g.text text[id^=svgYear]{
      @include transform(
              translate(
                              20px + ($about-svg-deb-width - $about-svg-width)/2,
                              60px + ($about-svg-deb-width - $about-svg-width)/2
              ));
    }
  }

  // logo in timelines
  svg[class^=timeline20]{
    g.logo{
      @include transform(translate(0, 0) scale(0.9));


      line, polyline, #topFace, #rightFace{ // hide name, light faces
        opacity: 0;
      }

      #hexagon{
        fill: white;
        stroke: $timeline-border-color;
        stroke-width: $timeline-border-width;
        opacity: 1;
      }
    }

    @for $i from 1 through 5{
      &.timeline201#{$i} #svgYear201#{$i}{
        opacity: 1;
      }

      &.timeline201#{$i} g.logo #hexagon{
        @include transform(rotate(#{-360 + $i*60}deg));
      }
    }
  }

  //**********************************************************
  //
  //*********************** DIV STYLES ***********************
  //
  //**********************************************************

  &>div{//blocks
    width: 100%;
    overflow: auto;
    position: relative;

    &>h3{//block titles
      width: 100%;
      text-align: center;
      margin: 16px 0;
      font-family: $font-bold;
    }

  }

  div.introduce{

    z-index: 1;
    height: 80vh;
    background-image: url('../img/photo/about_cover.jpg');
    background-size: cover;
    //background-attachment: fixed;
    background-position: center center;
  }

  div.deb{

    .left, .right{

      width: calc( 50% - #{$about-deb-lr-margin*2 + $about-svg-deb-width/2});
      height: calc( 100% - #{$about-deb-tb-margin} * 2);

      @media all and (max-width: $small-break-point){
        margin: 14px 2%;
        width: 96%;
        height: auto;
      }
    }

    .left{
      float: left;
      overflow: auto;
      margin: $about-deb-tb-margin ($about-svg-deb-width/2 + $about-deb-lr-margin) $about-deb-tb-margin $about-deb-lr-margin;

      a.resume{
        color: $c-main;
        font-weight: 500;
      }
    }

    .right{
      margin: $about-deb-tb-margin $about-deb-lr-margin $about-deb-tb-margin ($about-svg-deb-width/2 + $about-deb-lr-margin);
      float: left;
      overflow: auto;


      h3{
        margin: 0 0 6px;
      }
      p{
        margin: 0 0 10px;
      }
      h3.design{
        color: $c-design;
      }
      h3.engineering{
        color: $c-engineering;
      }
      h3.business{
        color: $c-business;
      }
    }
  }


  /****************    TIMELINE  ********************/
  div.timelineHeader{
    border-bottom: $timeline-border-width solid $timeline-border-color;
    color: white;
    background: $timeline-border-color;
    z-index: 4;
  }

  div[class^=timeline20]{
    border-bottom: $timeline-border-width $timeline-border-color solid;
    overflow: hidden;

    position: relative;
    z-index: 1;

    div.left, div.right{
      overflow: auto;
      width: 50%;
      height: 100%;
      float: left;

      div[class^=description] {
        overflow: auto;
        padding: 20px;
        background: $timeline-background;

        p {
          color: $timeline-text-color;
        }
        h3 {
          color: $timeline-text-color;
        }
      }
    }

    div.left{
      //make left same height as the parent container
      position: absolute;
      top: 0;
      bottom: 0;
    }

    div.right{
      //make up for the left space
      margin-left: 50%;

      div{
        background-size: cover;
        background-position: center center;
      }
    }

    div.middle{
      width: 0;
      height: 100%;


      //center it in the middle of the view port
      position: absolute;
      left: 50%;
      margin-left: - $timeline-border-width / 2;
      border-left: $timeline-border-width $timeline-border-color solid;

      //circle at year begin, and year end
      &:after, &:before{
        content:'';
        display: block;
        position: absolute;
        background: $timeline-border-color;
        height: $timeline-joint-height/2;
        width: $timeline-joint-height;
        margin-left: (-($timeline-joint-height/2 + $timeline-border-width/2));
      }

      &:before{
        top: - $timeline-border-width/2;
        @include border-radius( 0 0 $timeline-joint-height/2 $timeline-joint-height/2);
      }

      &:after{
        bottom: - $timeline-border-width/2;
        @include border-radius($timeline-joint-height/2 $timeline-joint-height/2 0 0);
      }
    }
  }


  /**************** TIMELINE DETAIL********************/

  div.timeline2015{
    .left{
      background-image: url('../img/photo/cmu.jpg');
      background-size: auto 100vh;
      background-attachment: fixed;
    }
  }

  div.timeline2014{
    .left{
      background-image: url('../img/photo/cmu.jpg');
      @include half-screen-fix-bg(600, 768);

    }

    .right{
      .iot{
        background-image: url('../img/photo/iot.jpg');
        height: 40vh
      }

      .microsoft{
        border-top: $timeline-inyear-border-width solid $timeline-border-color;
        height: 40vh;
        background-image: url('../img/photo/ms.jpg');
        background-attachment: fixed;
        background-position: 48vw 0;
        background-size: 52vw auto;
        background-repeat: no-repeat;

      }
    }
  }
  div.timeline2013, div.timeline2012, div.timeline2011{
    .left{
      background-image: url('../img/photo/sjtu.jpg');
      @include half-screen-fix-bg(900, 975);
    }
  }
  div.timeline2013{


    .right{
      .tti{
        height: 36vh;
        background-image: url('../img/photo/hk.jpg');
      }


      .bno{
        height: 36vh;
        border-top: $timeline-inyear-border-width solid $timeline-border-color;
        background-image: url('../img/photo/bno.jpg');
      }

      .sdc{
        height: 36vh;
        border-top: $timeline-inyear-border-width solid $timeline-border-color;
        background-image: url('../img/project/river_sunvelop_cover.jpg');
      }
    }
  }

  div.timeline2012{
    .right{

    }
  }

  div.timeline2011{

    .right{

      .structure{
        height: 40vh;
        background-image: url('../img/photo/structure.jpg');
      }
    }
  }


  div.about_this_site{
    width: 60%;
    padding: 60px 20%;
  }



}