
$c-design: #ff5b5b;
$c-engineering: #5b5bff;
$c-business: #a0ce40;

$timeline-border-width: 6px;
$timeline-joint-height: 36px;
$timeline-inyear-border-width: 3px;

$timeline-background: #6694e2;

$about-svg-width: 100px;
$about-svg-deb-width: 400px;


//**********************************************************
header.about + section[ui-view]{

  svg{
    z-index: 1000;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: $about-svg-width;
    height: $about-svg-width;
    margin-left: -$about-svg-width/2;
    margin-top: -$about-svg-width/2;

    @media all and (max-width: $small-break-point){
      display: none;
    }

    g.logo{
      @include transform-origin(50% 50% 0); //let logo rotate pivot be the center
      @include transform(translate(0, 0));

      line, polyline{ //white name
        @include transition(all 1s);
        stroke: $c-main;
        fill: none;
        stroke-width: 2px;
        stroke-miterlimit: 10px;
      }

      #topFace, #leftFace, #rightFace{ //hide light&shadow
        @include transition(all 1s);

        opacity: 0;
      }

      #hexagon { //transparent white background
        @include transform-origin(50% 50% 0);
        @include transition(all 0.4s);


        fill: rgba(white, 0.7);
      }


    }

    g.text text[id^=svgYear]{
      @include transform(translate(19px, 62px));

      fill: $c-main;

      opacity: 0;
    }
  }

  svg.normal{
    g{

      line, polyline{
        opacity: 0;
        stroke: white;

      }
      #topFace, #rightFace{
        opacity: 0.3;
      }

      #hexagon{
        opacity: 1;
      }
    }


    #svgYear{
      @include transform(translate(20px, 60px));
      opacity: 0;
    }
  }


  svg.deb{
    width: $about-svg-deb-width;
    height: $about-svg-deb-width;
    margin-left: -$about-svg-deb-width/2;
    margin-top: -$about-svg-deb-width/2;

    g.logo{
      @include transform(translate($about-svg-deb-width/2- 50px, $about-svg-deb-width/2- 50px));

      #topFace{
        fill: $c-design;
        opacity: 0.8;
        @include transform(translate(0, -50px));
      }
      #leftFace{
        fill: $c-business;
        opacity: 0.8;
        @include transform(translate(-50px, 0));
      }
      #rightFace{
        fill: $c-engineering;
        opacity: 0.8;
        @include transform(translate(50px, 0));
      }
    }

    g.text text[id^=svgYear]{
      @include transform(
              translate(
                              20px + ($about-svg-deb-width - $about-svg-width)/2,
                              60px + ($about-svg-deb-width - $about-svg-width)/2
              ));
    }

  }

  // logo in timelines
  svg[class^=timeline20]{
    g.logo{

      line, polyline{//do not show name
        opacity: 0;
        stroke: white;

      }
      #topFace, #rightFace{ // hide light face
        opacity: 0;
      }

      #hexagon{
        fill: white;
        opacity: 1;
      }
    }

    @for $i from 1 through 5{
      &.timeline201#{$i} #svgYear201#{$i}{
        opacity: 1;
      }

      &.timeline201#{$i} g.logo #hexagon{
        @include transform(rotate(#{-360 + $i*60}deg));
      }
    }
  }

  //**********************************************************
  //*********************** DIV STYLES ***********************
  //**********************************************************

  &>div{
    width: 100%;
    overflow: auto;
    position: relative;

    &>h3{
      width: 100%;
      text-align: center;
      margin: 16px 0;
      font-family: $font-bold;
    }

  }

  div.introduce{

    z-index: 1;
    height: 80vh;
    background-image: url('../img/photo/about_cover.jpg');
    background-size: cover;
    //background-attachment: fixed;
    background-position: center center;
  }


  div.deb{

    .left{
      float: left;
      overflow: auto;
      margin: 80px 140px 80px 60px;
      width: calc( 50% - 200px);
      height: calc( 100% - 160px);

      a.resume{
        color: $c-main;
        font-weight: 500;
      }
    }

    .right{
      float: left;
      overflow: auto;
      margin: 80px 60px 80px 140px;
      width: calc( 50% - 200px);
      height: calc( 100% - 160px);

      h3{
        margin: 16px 0 10px;
      }
      h3.design{
        color: darken($c-design, 0.2);
      }
      h3.engineering{
        color: darken($c-engineering, 0.2);
      }
      h3.business{
        color: darken($c-business, 0.2);
      }
    }
  }


  /****************    TIMELINE  ********************/
  div.timelineHeader{
    border-bottom: $timeline-border-width solid white;
    color: white;
    background: $timeline-background;
    z-index: 4;
  }



  div[class^=timeline20]{
    border-bottom: $timeline-border-width white solid;
    overflow: hidden;

    position: relative;
    z-index: 1;

    div.left{
      overflow: auto;
      width: 50%;
      float: left;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    div.middle{
      position: absolute;
      left: 50%;
      height: 100%;
      width: 0;
      margin-left: - $timeline-border-width / 2;
      border-left: $timeline-border-width white solid;


      &:after, &:before{
        content:'';
        display: block;
        position: absolute;
        background: white;
        height: $timeline-joint-height/2;
        width: $timeline-joint-height;
        margin-left: (-($timeline-joint-height/2 + $timeline-border-width/2));
      }

      &:before{
        top: - $timeline-border-width/2;
        @include border-radius( 0 0 $timeline-joint-height/2 $timeline-joint-height/2);
      }

      &:after{
        @include border-radius($timeline-joint-height/2 $timeline-joint-height/2 0 0);
        bottom: - $timeline-border-width/2;
      }
    }

    div.right{
      overflow: auto;
      width: 50%;
      height:100%;
      float:left;
      margin-left: 50%;

      div{
        background-size: cover;
        background-position: center center;
      }
    }

    div.left, div.right{
      div[class^=description]{
        overflow: auto;
        padding: 20px;
        background: $timeline-background;

        p{
          color: white;
        }
        h3{
          color: white;

        }
      }
    }
  }


  /**************** TIMELINE DETAIL********************/

  div.timeline2015{
    .left{
      background-image: url('../img/photo/cmu.jpg');
      background-size: auto 100vh;
      background-attachment: fixed;
    }
  }

  div.timeline2014{
    .left{
      background-image: url('../img/photo/cmu.jpg');
      background-attachment: fixed;
      background-size: auto 100vh;

      @media (max-aspect-ratio: 1/2){
        background-size: 51vw;
      }
    }

    .right{

      .iot{
        background-image: url('../img/photo/iot.jpg');
        height: 40vh
      }

      .microsoft{
        border-top: $timeline-inyear-border-width solid white;
        height: 40vh;
        background-image: url('../img/photo/ms.jpg');
        background-attachment: fixed;
        background-position: 48vw 0;
        background-size: 52vw auto;
        background-repeat: no-repeat;

      }
    }
  }

  div.timeline2013{
    .left{
      background-image: url('../img/photo/sjtu.jpg');
      background-attachment: fixed;
    }

    .right{
      .tti{
        height: 36vh;
        background-image: url('../img/photo/hk.jpg');
      }


      .bno{
        height: 36vh;
        border-top: $timeline-inyear-border-width solid white;
        background-image: url('../img/photo/bno.jpg');
      }

      .sdc{
        height: 36vh;
        border-top: $timeline-inyear-border-width solid white;
        background-image: url('../img/project/river_sunvelop_cover.jpg');
      }
    }
  }

  div.timeline2012{
    .left{
      background-image: url('../img/photo/sjtu.jpg');
      background-attachment: fixed;
    }

    .right{

    }
  }

  div.timeline2011{

    .left{
      background-image: url('../img/photo/sjtu.jpg');
      background-attachment: fixed;

    }

    .right{

      .structure{
        height: 40vh;
        background-image: url('../img/photo/structure.jpg');
      }
    }
  }


  div.about_this_site{
    width: 60%;
    padding: 60px 20%;


    h3, a{
      text-align: center;
    }



  }



}