header.home + section[ui-view]{

  div.greeting{
    margin: 160px auto;
    width: 60%;
    max-width: 700px;

    @media all and (max-width: $small-break-point){
      width: 90%;
    }

    p#gt1{
      font-size: 36px;
      font-family: 'Hammersmith One', sans-serif;
    }

    p#gt2{
      font-size: 42px;

      font-family: 'Hammersmith One', sans-serif;


      span.cn{
        display: none;
        font-weight: 800;
      }
      &:hover{
        span.en{
          display: none;
        }
        span.cn{
          display: inline;
        }
      }
    }

    p#gt3{
      color: #555;
      font-size: 20px;
      font-family: 'Hammersmith One', sans-serif;

      span{
        font-size: 24px;
        color: $c-main;
      }
    }

    div.sns{
      margin: 36px 0 24px;
      overflow: auto;

      a.sns-icon{
        float: left;
        display: block;
        height: 32px;
        width: 32px;
        margin: 0 10px 0 0;
      }

      a#github{ @extend .icons-icons_github_32x32_off; }
      a#github:hover{ @extend .icons-icons_github_32x32; }
      a#twitter{ @extend .icons-icons_twitter_32x32_off; }
      a#twitter:hover{ @extend .icons-icons_twitter_32x32; }
      a#linkedin{ @extend .icons-icons_linkedin_32x32_off; }
      a#linkedin:hover{ @extend .icons-icons_linkedin_32x32; }
      a#email{ @extend .icons-icons_email_32x32_off; }
      a#email:hover{ @extend .icons-icons_email_32x32; }
    }

    p#footer{
      margin-top: 40px;
    }
  }


}