header.home + section[ui-view]{

  div.greeting{
    margin: 100px auto;
    width: 60%;
    max-width: 700px;

    @media all and (max-width: $small-break-point){
      width: 90%;
    }


    p#gt1{
      font-size: 36px;
      font-family: 'Hammersmith One', sans-serif;
    }
    p#gt2{
      font-size: 42px;

      font-family: 'Hammersmith One', sans-serif;


      span.cn{
        display: none;
        font-weight: 800;
      }
      &:hover{
        span.en{
          display: none;
        }
        span.cn{
          display: inline;
        }
      }
    }

    p#gt3{
      color: #555;
      font-size: 20px;
      font-family: 'Hammersmith One', sans-serif;

      span{
        font-size: 24px;
        color: $c-main;
      }
    }

    p#gt4{
      margin-top: 40px;
    }
  }
}