header.project.creek_on_bridge + section[ui-view] div[ui-view] {

  .block{
    background: #262626;
    color: white;
    border: none;
  }

  div.inspirations{
    h4{
        margin: 0;
        text-align: center;
    }
  }

  div.design{
    background: #262956;
  }
}