$project-main-c: #222222;

header.project.trend + section[ui-view]{

  div[ui-view]{


    .block{
      border-bottom: 1px solid grey;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    div.final{

      padding-bottom: 0;
      border-bottom: none;

      div.span-return{
        border-bottom: 1px solid #ccc;
      }
    }

    div.prototype_develop{

      @include dark;
    }
  }
}