$c-purple: #604cc3;
$c-green: #9abd4e;


header.project.responsive_mobile_ui + section[ui-view] div[ui-view] {

  h3{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  h3.purple, h4.purple{
    color: $c-purple;
  }
  h3.green, h4.green{
    color: $c-green;
  }

  div.problem{
    img{
      margin: 40px 0;

    }
  }


  div.sensor{
    div img{
      width: 100%;
    }
  }


  div.concept{
    background: #333;
    color: white;

    h3{

    }

    p{
      font-size: 32px;
      text-align: center;

      span{
        padding: 4px 8px;
      }

      .then{
        font-size: 24px;
      }
      .feel{
        color: white;
        background: #9abd4e;
      }

      .respond{
        color: white;
        background: #604cc3;
      }
    }
  }

  div.test{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
    background: #000;
  }

  div.ui_study{
    p{
      text-align: center;
      margin: 40px 0;
    }

  }

  img.interfaces{
    margin: 60px 0;
  }

  div.interface_consideration{

  }
}