$meeting-room-color: #f06f66;
$meeting-room-grey: #565656;



header.project.meeting_room + section[ui-view] div[ui-view] {

    .dark{
        background: $meeting-room-grey;
        color:white;
    }

    h3{
        color: #67b9f3;
    }

    div.research{
        color: white;
        background: $meeting-room-color;
    }

    div.how_to_improve{
        background: url("../img/project/meeting_room_how_to_improve.jpg") no-repeat bottom left / auto 90%,
                    $meeting-room-color;
        height: 400px;
        color: white;
    }

}