header.project.creek_on_bridge + section[ui-view] div[ui-view] {

  .block{
    background: #262626;
    color: white;
    border: none;
  }

  div.inspirations{
    h4{
      margin: 10px 0;
    }
  }

  div.design{
    background: #252757;
  }
}