$project-max-width: 1600px;
$project-scroll-indicator-height: 40px;
$project-scroll-indicator-width: $project-scroll-indicator-height*2;

$project-list-category-font-size: 16px;
$project-list-project-name-font-size: 16px;
$project-list-project-description-font-size: 12px;

$project-in-h3-font-size: 24px;
$project-in-h4-font-size: 20px;
$project-in-p-font-size: 14px;

$category-margin-top: 40px;

header.project + section[ui-view]{

    div.projectList{
        position: relative;
        overflow: auto;
        padding-top: 12vh;
        height: 88vh;
        /*vh fix for ipad*/
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
            padding-top: 1024*0.12px;
            height: 1024*0.88px;
        }
        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
            padding-top: 768*0.12px;
            height: 768*0.88px;
        }

        div.background{
            /* Position */
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;

            /* Box Model */
            width: 100%;
            @include vh(height, 100);


            /* Visual */
            opacity: 0;
            background-color: $c-main-grey;
            //background-position: center 100vh;
            @include vh(background-position, center, 100);

            background-size: cover;
            background-attachment: fixed;
            @include transition(opacity 0.4s);

            @media all and (max-width: $small-break-point){
                display: none;
            }
            /*vh fix for ipad*/
            @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
                height: 1024px;
                background-position: center 1024px;
            }
            @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
                height: 768px;
                background-position: center 768px;
            }
        }

        div.category{
            /* Box Model */
            margin-top: $category-margin-top;

            /* Visual */
            background: $c-f7;
            background-clip: content-box;

            @include transition(all 0.4s);
            @include perspective(900px);
            @include transform-origin(center top 0px);
            @include transform(rotateX(0deg));

            &>span, a.projectThumb{
                /* Box Model */
                display: block;
                width: 94%;
                padding: 8px 3%;
            }

            //project category title
            & > span{
                color: $c-main;
                font-family: $font-bold;
                font-size: $project-list-category-font-size;
                font-weight: 500;
            }

            //each project's thumbnail
            a.projectThumb {
                cursor: pointer;

                span.description{
                    display: block;
                    padding: 2px 10px 0 0;
                    font-size: $project-list-project-name-font-size;
                    font-weight: 400;
                    color: $c-main;
                }

                span.year, span.team, span.type{
                    padding: 2px 10px 0 0;
                    font-size: $project-list-project-description-font-size;
                    color: #333;
                }

                &:hover{
                    background: $c-main;

                  span{
                    color: white;
                  }
                }
            }
        }
    }

        div.scroll_indicator{
            position: absolute;
            left: 50%;
            height: 0;
            width: 80px;
            margin-left: -$project-scroll-indicator-width/2;


            background: url('../img/icons/icons_scroll_indicator.png');
            background-size: cover;

            @include transition(all 0.8s);
        }
    }

    @mixin dark{
        background: $dark-bg;
        color: white;
    }


    header.project.in + section[ui-view]{
        div.projectList{
            div.category{ @include transform(rotateX(90deg)); }

                //hide project list on small viewports
                @media (max-width: $small-break-point){
                display: none;
            }
        }

        div.scroll_indicator{
            z-index: 12;
                /* Box Model */
                height: $project-scroll-indicator-height;
                margin-top: -$project-scroll-indicator-height;

                //hide scroll indicator on small viewports
                @media (max-width: $small-break-point){
                    display: none;
            }
        }

    div.project_introduction{
        /* Position */
        z-index: 11;
        /* Box Model */
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: calc(#{$project-max-width} - 20%);    //limited to full span images' width
        /* Visual */
        background: white;
        @include box-shadow(0 0 12px rgba(0,0,0,.4));


        h2{
            /* Typeface */
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
        }

        p, a{ font-size: $project-in-p-font-size; }

        a{ display: block; }
    }





    div[ui-view]{
        /* Position */
        position: relative;
        z-index: 10;
        /* Box Model */
        max-width: $project-max-width;    //limited to full span images' width
        margin: 0 auto;
        /* Visual */
        background: white;

        .block{
            /* Box Model */
            padding-top: 60px;
            padding-bottom: 60px;
        }


        h3{
            /* Box Model */
            margin-bottom: 14px;
            display: block;
            /* Typeface */
            font-family: $font-bold;
            font-size: $project-in-h3-font-size;
        }

        h3.span-12-center{
            position: relative;
            // use margin instead of padding as left/right gut
            // for making the start and end align to contents
            margin-left: $gap-width;
            margin-right: $gap-width;
            margin-bottom: 40px; // create space for block like
            padding: 0;
            overflow: hidden; //in case

            &:before, &:after{
                content: '';
                width: 60%;
                height: 1px;
                background: #777;
                position: absolute;
                top: 50%
            }
            &:before{
                margin-left: -62%;
            }
            &:after{
                margin-left: 2%;
            }
        }

        div[class^=span] > img{
            width: 100%;
        }

        h4{
            /* Typeface */
            font-size: $project-in-h4-font-size;
            font-weight: 500;
        }

        p{
            /* Box Model */
            padding-top: 8px;
            padding-bottom: 8px;
            /* Typeface */
            font-size: $project-in-p-font-size;
        }

        div[class^=span]{
            p{
                &:first-child{ padding-top: 0; }
                &:last-child{ padding-bottom: 0; }
            }
        }

    }

    footer{
        max-width: calc(#{$project-max-width} - 20%);
        @include box-shadow(inset 0 5px 5px -5px $c-05);
        padding-top: 30px;
        padding-bottom: 50px;
        background: white;


        p,a{
            text-align: center;
        }

        p{
            font-size: 16px;
            font-weight: 700;
        }

        a{
            display: block;
            color: $c-main;
            cursor: pointer;

        }
    }
}
