$project-main-c: #222222;

header.project.triends + section[ui-view]{

    div[ui-view]{

        div.intro{
            background: #f0f0ef;

            div{
                img{
                    display: block;
                    width: 108px;
                    margin: 0 auto;
                }

                h2, h4{
                    display: block;
                    text-align: center;
                }
                h2{
                    font-size: 36px;
                    font-family: $font-default;
                    font-weight: 300;
                }
                h4{
                    font-size: 18px;
                }
            }

        }

        div.persona{
            div.persona2_description{
                text-align: right;
                margin-top: 20px;
            }
        }

    }
}