/*****************************

        Utilities

*****************************/
@import "normalize";
@import "compass/css3";
/*****************************

        Universal

*****************************/
@import "var";
@import "frame";
/****************************

  Application Styles

/****************************/

/* import sprites */
@import "compass/utilities/sprites";
$icons-layout: smart;
@import "icons/*.png";
@include all-icons-sprites;
@import "animation";



div, a, h4, h5, h6, p{
    font-family: $font-default;
    font-weight: 300;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

a{
    color: black;

    &:hover{
        opacity: 0.8;
    }
}

h1, h2, h3{
    font-family: $font-bold;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul, li{
    list-style: none;
    margin: 0;
}

html{
    width: 100%;

    //make y-scroll always there to prevent page jump
    overflow-y: scroll;
    overflow-x: auto;
}

body{
    font-size: 14px;
}

section[ui-view]{
    width: 100%;
}

::selection {
  background:$c-main;
  color:$c-main-opp;
}



@mixin vh($name, $args...){
    $new-normal: '';
    $new-portrait: '';
    $new-landscape: '';

    @each $arg in $args{
        @if type-of($arg) == number {
            $new-normal: $new-normal + ' ' + $arg*1vh;
            $new-portrait: $new-portrait + ' ' + 1024*($arg / 100) + 'px';
            $new-landscape: $new-landscape + ' ' + 768*($arg / 100) + 'px';
        }
        @else {
            $new-normal: $new-normal + ' ' + $arg;
            $new-portrait: $new-portrait + ' ' + $arg;
            $new-landscape: $new-landscape + ' ' + $arg;
        }
    }


    #{$name}: unquote($new-normal);

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        #{$name}: unquote($new-portrait);
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        #{$name}: unquote($new-landscape);
    }

}


@mixin vw($name, $w){
    #{$name}: $w*1vw;
    /*vh fix for ipad*/
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        #{$name}: 768*($w / 100)px;
    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        #{$name}: 1024*($w / 100)px;
    }
}

@import "header";

/* ui-view styles */

@import "home";

/* projects */
@import "project";
@import "project.laser_level";
@import "project.responsive_mobile_ui";
@import "project.birdhouse";
@import "project.triends";
@import "project.hicool";
@import "project.meeting_room";
@import "project.river_sunvelop";
@import "project.structure";
@import "project.creek_on_bridge";