<div class="greeting">
    <p id="gt1">{{ greeting | titleCase }} !</p>
    <p id="gt2">I'm <span class="en">Fan Sai Kuok</span><span class="cn">郭 繁世</span>,</p>
    <p id="gt3">a current graduate student at Carnegie Mellon University. With background in industrial design and web development, I design and develop physical, digital and connected things that create <span>joyful</span>, <span>meaningful</span> and <span>beautiful</span> experiences</p>

    <p id="gt4">This site is fully coded by me in Jan 2015 using AngularJS <- I'm a big fan of it :)</p>
</div>
