<div class="salute">
    <!--h1>FAN SAI KUOK</h1-->
    <ul id="frontPage">


        <li class="layer salute" data-depth="0.20">
            <h2>Good {{timePeriod}} !</h2>

        </li>
        <li class="layer seed shadow" data-depth="0.80">
            <img class="shadow" src="img/seed_shadow.png" alt="" width="500px"/>
        </li>


        <li class="layer name" data-depth="0.10">


        </li>

        <li class="layer seed" data-depth="0.30">
            <img src="img/seed.png" alt="" width="500px"/>
        </li>

    </ul>
</div>






