<div class="greeting">
    <p id="gt1">{{ greeting | titleCase }} !</p>
    <p id="gt2">I'm <span class="en">Fan Sai Kuok</span><span class="cn">郭 繁世</span>,</p>
    <p id="gt3">a current graduate student at
        <span>Carnegie Mellon University</span>
        <br/>With background in industrial design and web development,
        <br/>
        I design and develop <span>physical</span>, <span>digital</span> and <span>connected</span> things that create <span>joyful</span>, <span>meaningful</span> and <span>beautiful</span> experiences.</p>
</div>


<div class="sns">
    <a class="sns-icon" id="linkedin" href="https://www.linkedin.com/profile/view?id=230453976"><p></p></a>
    <a class="sns-icon" id="twitter" href="https://twitter.com/fskuok"><p></p></a>
    <a class="sns-icon" id="github" href="https://github.com/fskuok"><p></p></a>
    <a class="sns-icon" id="email" href="mailto:fskuok@yahoo.com"><p></p></a>
</div>


<div class="foot">
    <p>This site is fully coded by me in Jan 2015 using AngularJS <- I'm a big fan of it :)</p>
</div>
