<div class="block overview">
    <img class="span-12" src="img/project/trend_overview.jpg" alt=""/>
</div>


<div class="block user_research">
    <h3>Interviews</h3>
    <h3>Survey</h3>

</div>

<div class="block low_fi_prototype">
    <div class="span-1"></div>
    <div class="span-3">
        <h4>Iteration 1: Low-fi Prototype</h4>
    </div>
    <img class="span-7" src="img/project/trend_wireframe.jpg" alt=""/>
</div>

<div class="block flow">
    <div class="span-1"></div>
    <div class="span-3">
        <h4>Iteration 2: APP FLOW</h4>
        <p></p>
    </div>
    <img class="span-7" src="img/project/trend_flow.png" alt=""/>
</div>


<div class="block final">
    <!-- 1 | 3 | 7 | 1 -->
    <div class="span-1"></div>
    <div class="span-3">
        <h4>LIEF TRACK</h4>
        <p>Trend will record user’s life track, user can review their life track at anytime, take notes and read analyse, realize some fact they even’t know about themself.

            The track data is used to match friends who have the similar life track as users, while take of user’s privacy carefully.</p>
    </div>
    <img class="span-7 track" src="img/project/trend_final_track.jpg" alt=""/>
    <div class="span-return"></div>

    <!-- 1 | 3 | 7 | 1 -->
    <div class="span-1-cl"></div>
    <div class="span-3">
        <h4>DISCOVER</h4>
        <p>Events is the connection between track and friends. User set their prefered event category and get notification, put the event want to go into their Life Track, and invite friends.
        </p>
    </div>
    <img class="span-7" src="img/project/trend_final_discover.jpg" alt=""/>
    <div class="span-return"></div>

    <!-- 1 | 3 | 7 | 1 -->
    <div class="span-1-cl"></div>
    <div class="span-3">
        <h4>FRIENDS</h4>
        <p>Trend will match and suggest friends for users according to user’s accumulated data, such as life track, where they often go, what course they take, the type of events they like, etc.  Beyond basic informations, users can see the common things they share with the suggested friend.</p>
    </div>
    <img class="span-7" src="img/project/trend_final_friends.jpg" alt=""/>
</div>

<div class="block prototype_develop">
    <div class="span-12">
        <h3>Prototyping + Developing</h3>
    </div>

    <img class="span-12" src="img/project/trend_prototype_develop.jpg" alt=""/>
</div>

