
<div class="block task">
    <h3 class="span-12-center">Task</h3>
    <h4 class="span-6-center">Design a first-aid kit for hikers.</h4>
</div>


<div class="block process">
    <h3 class="span-12-center">Process</h3>
    <img class="span-12" src="img/project/hicool_process.jpg" alt=""/>
    <p class="span-3">Research & Idea Generation</p>
    <p class="span-3">Prototyping Interations</p>
    <p class="span-3">Prototyping</p>
    <p class="span-3">Prototyping</p>
</div>



<div class="block product_definition">
    <h3 class="span-12-center">Product Definition</h3>

    <h4 class="span-12-center">Hicool: <span class="red">Usable</span>, <span class="green">functional</span>, <span class="blue">efficient</span> first-aid kid experience for hikers</h4>

    <div class="span-4-cl">
        <h4>Portable & Robust</h4>
        <p>Small size and lightweight <br/> Waterproof and impact-proof</p>
    </div>

    <div class="span-4">
        <h4>Organized & Intuitive</h4>
        <p>Module sheets, color coded</p>
    </div>

    <div class="span-4">
        <h4>Easy-accessible Guide</h4>
        <p>Scan QR Code for offline first-aid guide</p>
    </div>

    <div class="span-4-cl">
        <h4>Easy-accessible Medicines</h4>
        <p>One hand operation</p>
    </div>

    <div class="span-4">
        <h4>Customizable & Replaceable</h4>
        <p>Modules, geographic location specific pages</p>
    </div>

    <div class="span-4">
        <h4>Easy To Purchase</h4>
        <p>In-app Purchase</p>
    </div>
</div>

<div class="block design">
    <h3 class="span-12-center">Design</h3>
</div>

<!--
<div class="block">
    <p class="span-4">Personal medications | Roll bandages | Triangular bandages | Ace bandages | Butterfly bandages | Sterile compresses | Adhesive tape | Sterile gauze pads | Antiseptic wipes | Miscellaneous band aids | Twine | Tweezers | Safety pins | Scissors | Thermometer | Latex gloves | Tissues | Plastic Bags | Small mirror | Antibacterial soap / wipes | Eye drops | Burn ointment | Sunburn lotion | Disinfectant cream | Decongestant and antihistamine tablets | Anti-acids | Antibiotic cream | Aspirin / ibuprofen | Hydrogen peroxide | Diarrhea medication | Hydrocortisone cream | Poison Ivy cream / cleansers | Bee sting kit | Snake bite kit | Heat / cold packs | Personal information / contact person | First aid manual</p>
</div>
-->

<div class="block">
    <h3 class="span-4-cl">1.Organized & Intuitive</h3>
    <h4 class="span-6">Organize things with intuitive categories, color and icons</h4>

    <p class="span-4-cl">Process 1: Researched on most common hiking first-aid situations and put categorized medicines and supplies accordingly.</p>
    <p class="span-4">Process 2: Put those first-aid situations in three categories, assigned represent color</p>
    <p class="span-4">Process 3: Made icons for easier searching, added a geographic specified page</p>

    <p class="span-4-cl">
        Common hiking first-aid situations:
        <br/>Froze bite | Scratches | Wrench | Sprain |
        <br/>Broken bones | Severe bleeding | Burn | Cuts |
        <br/>Allergy | Stings | Spider bite | Snake bite |
        <br/>Head | Stomach | Heart</p>
    <img class="span-8" src="img/project/hicool_information.jpg" alt=""/>
</div>

<div class="block information2">
    <img class="span-12" src="img/project/hicool_information2.jpg" alt=""/>
</div>

<div class="block qrcode">
    <h3 class="span-4-cl">2. Easy-accessible Guide</h3>
    <h4 class="span-8">Beyond hard copy manual, users can scan QR Code for offline first-aid guide in Hicool App, which is especially useful in low-light environment</h4>

    <img class="span-12" src="img/project/hicool_qrcode.jpg" alt=""/>
</div>

<div class="block ripoff">
    <h3 class="span-4-cl">3. Easy-accessible Medicines</h3>
    <h4 class="span-8">We designed packages of medicines can be easily opened and took out by one hand.</h4>

    <div class="span-4-cl"></div>
    <img class="span-8" src="img/project/hicool_ripoff.jpg" alt=""/>
</div>


<div class="block customize">
    <h3 class="span-4-cl">4. Customizable & Replaceable</h3>
    <h4 class="span-8">Contents are separated in module pages; Beyond normal contents, we provide hikers geographic location specific first-aid modules for their destinations</h4>

    <div class="span-4-cl"></div>
    <img class="span-8" src="img/project/hicool_geo.jpg" alt=""/>
</div>
