<div class="block inspirations">
    <h3 class="span-12">INSPIRATION</h3>
    <!--2 | 8 | 2 -->
    <img class="span-8-center" src="img/project/creek_on_bridge_inspirations.jpg" alt=""/>

    <!--2 | 2 | 1 | 2 | 1 | 2 | 2-->
    <div class="span-2-cl"></div>
    <h4 class="span-2">CREEK</h4>
    <div class="span-1"></div>
    <h4 class="span-2">BRIDGE</h4>
    <div class="span-1"></div>
    <h4 class="span-2">FISH</h4>
</div>

<div class="block design">
    <h3 class="span-12">DESIGN</h3>
    <!--2 | 8 | 2 -->

    <div class="span-2-cl">
        </div>
    <img class="span-8" src="img/project/creek_on_bridge_sketches.jpg" alt=""/>
</div>

<div class="block desk">
    <h3 class="span-12">THE DESK</h3>
    <p class="span-8-center">Stainless steel and fiber reinforce plastic was chose as the material that can blend into the environment, and provide enough support strength in the meanwhile.</p>
    <img class="span-8-center" src="img/project/creek_on_bridge_desk.jpg" alt=""/>
</div>

<img class="block-full" src="img/project/creek_on_bridge_desk_render.jpg" alt=""/>


<div class="block coffee_table">
    <h3 class="span-12">THE COFFEE TABLE</h3>
    <img class="span-8-center" src="img/project/creek_on_bridge_coffee_table.jpg" alt=""/>
</div>

<img class="block-full" src="img/project/creek_on_bridge_coffee_table_render.jpg" alt=""/>

<div class="block coffee_table">
    <h3 class="span-12">PROTOTYPING</h3>
</div>


<img class="block-full" src="img/project/creek_on_bridge_prototyping.jpg" alt=""/>

<img class="block-full" src="img/project/creek_on_bridge_photo_with_model.jpg" alt=""/>
