
<div class="block research">
    <h3></h3>
    <h4 class="span-4">"Tons of meetings happen in US everyday, but many of them are inefficient, time and resources are wasted."</h4>
    <img class="span-8" src="img/project/meeting_room_research.jpg" alt=""/>
</div>

<div class="block storyboard">
    <!-- 4 | 7 | 1-->
    <h4 class="span-4">"Inefficiency caused by lots of different factors: arrangement, people, facilities..."</h4>
    <img class="span-8" src="img/project/meeting_room_storyboard.jpg" alt=""/>
</div>

<div class="block-full how_to_improve">
    <!-- 6 | 4 | 2 -->
    <div class="span-6"></div>
    <h4 class="span-4"><br/>"We want to improve meeting efficiency by creating a smart meeting room by connecting information and objects in meeting to improve efficiency using internet of things."</h4>
</div>

<div class="block concept">
    <div class="span-4"></div>
    <img class="span-8" src="img/project/meeting_room_concept_developing.jpg" alt=""/>

</div>

<div class="block connectivity_diagram dark">
    <div class="span-4 center"  fk-vertical-center>
        <h3>Concept: <br/>Smart Meeting Room</h3>
        <h4>"Enhance the meeting experience with connected objects that help information management and reduce interaction."</h4>
    </div>
    <img class="span-8" src="img/project/meeting_room_connectivity_diagram.jpg" alt=""/>
</div>

<div class="block process">
    <div class="span-4">
        <h3>Realizing the Concept</h3>
        <p>The Spark platform was used to prototype the system rapidly because of its wi-fi module, compatibility with many Arduino libraries and ready Cloud capabilities.
            <br/>Objects in the room are monitored through sensors and their status is updated onto the cloud. Objects are controlled by calling functions from the cloud.
            <br/>The agenda web-page and other devices that are connected to the internet directly interact with the spark platform through RESTful API.</p>

    </div>

    <img class="span-8" src="img/project/meeting_room_process_photo.jpg" alt=""/>
</div>


<div class="block agenda dark">

    <!-- 7 | 1 | 4 -->
    <img class="span-7-cl" src="img/project/meeting_room_agenda.jpg" alt=""/>
    <div class="span-1"></div>
    <div class="span-4" fk-vertical-center>
        <h3> Connectivity 1: Agenda Board</h3>
        <h4>"Agenda does not only show the progress of the meeting, but also is the hub of meeting information and the commander of time-relevant interactions."</h4>
    </div>

</div>

<div class="block agenda_explain">
    <!-- 7 | 1 | 4 -->
    <img class="span-7" src="img/project/meeting_room_agenda_database.jpg" alt=""/>
    <div class="span-1"></div>
    <p class="span-4">Google Spreadsheet is used to save agenda data for easy access by anyone without any technology skills. User just need to put in the topic, start time, end time and type of each event.
    </p>

    <!-- 7 | 1 | 4 -->
    <video class="span-7-cl" src="img/project/meeting_room_agenda_transition.mp4" autoplay loop>
        Your browser does not support the <code>video</code> element.
    </video>
    <div class="span-1"></div>
    <p class="span-4">When the meeting is about to begin, open the agenda app, then the agenda app will fetch agenda data through Google Doc API. Then the agenda will start to listen to two types of events:
        <br/>1. time events: based on the agenda data, (e.g. 2 minutes before the coffee break);
        <br/>2. events from devices

        <br/>When there is a matched handler for a triggered event, agenda will execute the handler and use Spark Cloud API to communicate will connected devices. (e.g. turn on the coffee maker and make coffee according to attending people when it is 2 mins before coffee break.)</p>
</div>

<div class="block whiteboard dark">

    <!-- 7 | 1 | 4 -->
    <img class="span-5-cl" src="img/project/meeting_room_whiteboard.jpg" alt=""/>
    <div class="span-1"></div>
    <div class="span-4" fk-vertical-center>
        <h3> Connectivity 2: Whiteboard</h3>
        <h4>"Connected smart objects save time: turn on the whiteboard light when marker is picked up. Save a photo of the white board for record when eraser is picked up"</h4>
    </div>


</div>