<div class="block the_rule">
    <h3 class="span-6-center">THE RULE IN A NUTSHELL</h3>
    <p class="span-6-center">Design and build an one-meter “4-floors-building” using bamboo slice. After putting on loads, the structure will endure 1 minute simulated 8.0 Lithe magnitude earthquake 3 times.
        The lighter the structure is and the heavier loads it bears, the better
    </p>
    <img class="span-3-center" src="img/project/structure_rule.jpg" alt=""/>

</div>

<div class="block craft">
    <h3 class="span-6-center">MAKING THE MODEL</h3>
    <p class="span-6-center">
        The structure is all hand-made with 0.3mm bamboo slice.
    </p>
    <img class="span-12-center" src="img/project/structure_craft.jpg" alt=""/>
</div>


<img class="block-full render" src="img/project/structure_render.jpg" alt=""/>


<div class="block design_keys">
    <h3 class="span-6-center">DESIGN KEYS</h3>

    <!--2-2-1-2-1-2-2-->
    <div class="span-1-cl"></div>
    <h4 class="span-3">Stiff of Soft</h4>
    <div class="span-1"></div>
    <h4 class="span-3">We Need No Floor</h4>
    <div class="span-1"></div>
    <h4 class="span-3">Thinner, Thinner and Thinner</h4>
    <div class="span-return"></div>

    <!--2-2-1-2-1-2-2-->
    <div class="span-1-cl"></div>
    <img class="span-3" src="img/project/structure_design_key1.jpg" alt=""/>
    <div class="span-1"></div>
    <img class="span-3" src="img/project/structure_design_key2.jpg" alt=""/>
    <div class="span-1"></div>
    <img class="span-3" src="img/project/structure_design_key3.jpg" alt=""/>
    <div class="span-return"></div>
</div>

<img class="block-full final" src="img/project/structure_final.jpg" alt=""/>
