<div class="block initial_research">
    <div class="span-4">
        <h3>INITIAL RESEARCH</h3>
        <p>INSTALLATION, CARRYING, RELEASING, ACCESSORIES, MARKING, POSITIONING</p>
    </div>
    <div class="span-1"></div>
    <img class="span-7" src="img/project/laser_level_initial_research.jpg" alt=""/>
</div>



<div class="block concept_ideation">
    <div class="span-4">
        <h3>CONCEPT IDEATION</h3>
    </div>
    <div class="span-1"></div>
    <img class="span-7" src="img/project/laser_level_concept_ideation.jpg" alt=""/>
</div>


<div class="block ergonomic_study">
    <div class="span-4">
        <h3>ERGONOMIC STUDY</h3>
        <p>After the initial research and concept ideation, a rubber foam + rubber model was made for a ergonomic study. Aim of this research is to find the best solution of product shape and buttons location. 15 test users, whose hand sizes distributed in the range of target user’s, were told to use the prototype in two scenarios, LCD mounting and picture hanging. The prototype was placed in a box at the beginning of the test to mock the real scenario and for us to observe the user's intuition of the product usage, how the users hold the product model and their feeling of the profile was recorded as stastic data. Then, test users were asked to put two pins on wherever they feel comfortable on model to simulate the switches. Users’ other feedbacks in and after the process is also meaningful for the design.</p>
    </div>
    <div class="span-1"></div>
    <img class="span-7" src="img/project/laser_level_ergonomic_study.jpg" alt=""/>
</div>


<div class="block form_develop">
    <div class="span-4">
        <h3>FFORM DEVELOP</h3>
    </div>
    <img class="span-8" src="img/project/laser_level_form_develop.jpg" alt=""/>
</div>

<div class="block-full render_detail">
    <img src="img/project/laser_level_render_detail.jpg" alt=""/>
</div>


<div class="block design_detail">
    <div class="span-2"></div>
    <img class="span-8" src="img/project/laser_level_design_detail.jpg" alt=""/>
</div>


<div class="block render_with_hands">
    <div class="span-2"></div>
    <img class="span-8" src="img/project/laser_level_render_with_hands.jpg" alt=""/>
</div>