<div class="block-full monologue">
    <p class="span-6-center">This is a story... about me and Bob...</p>
</div>

<div class="block door">
    <div class="span-2"></div>
    <img class="span-2" src="img/project/birdhouse_door.png" alt=""/>
    <div class="span-2"></div>
    <div class="span-4">
        Bob lives in the same apartment building with me. Bob is that kind of person that likes adventure and never satisfy.
    </div>
</div>

<div class="block-full monologue">
    <p class="span-6-center">One day, I came across him in the lobby, and he said...</p>
</div>

<div class="block-full dialogue-bob">
    <div class="span-1"></div>
    <img class="span-1" src="img/project/birdhouse_bob_face_smile.png" alt=""/>
    <div class="span-1"></div>
    <p class="span-6">Hey, do you know birdhouses? I find them interesting, but I think that's for house livers, they have trees in yard to install it. Anyway, it will be interesting if I can have one and observe the birds in my birdhouse.</p>
</div>

<div class="block-full dialogue-me">
    <div class="span-1"></div>
    <img class="span-1" src="img/project/birdhouse_me_face.png" alt=""/>
    <div class="span-1"></div>
    <p class="span-6">I know a kind of birdhouse, you can fix it outside of your window, then you can watch them through the transparent back surface. You can buy it on Amazon, why don't you try it?</p>
</div>

<div class="block exist-product">
    <img class="span-4-center" src="img/project/birdhouse_exist_product.jpg" alt=""/>
</div>

<div class="block-full monologue">
    <p class="span-6-center">One week passed, I came across Bob in the lobby, again...</p>
</div>


<div class="block-full dialogue-bob">
    <div class="span-1"></div>
    <img class="span-1" src="img/project/birdhouse_bob_face_normal.png" alt=""/>
    <div class="span-1"></div>
    <p class="span-6">I've tried that. It worked at the beginning, but birds can see me inside house, they will not come back again. Also, It blocks the view of my window... Oh, you are a designer, right? why don't you design one for me?</p>
</div>

<div class="block-full monologue">
    <p class="span-6-center">So I designed a birdhouse and showed it to Bob</p>
</div>

<div class="block design1">
    <div class="span-6">
        <p>There is a mirror inside the birdhouse that can reflect the top view of the birdhouse. Also, it's not easy for birds to discover, and most of it's volume is below the window sill so it will not block too much of the window.</p>
        <img src="img/project/birdhouse_design1_explain.jpg" alt=""/>
    </div>
    <img class="span-6" src="img/project/birdhouse_design1.jpg" alt=""/>
</div>

<div class="block-full dialogue-bob">
    <div class="span-1"></div>
    <img class="span-1" src="img/project/birdhouse_bob_face_smile.png" alt=""/>
    <div class="span-1"></div>
    <p class="span-6">That's nice. But ummmm..., it's a little bit of boring</p>
</div>

<div class="block-full monologue">
    <p class="span-6-center">After a while, I showed Bob my new design</p>
</div>
<div class="block design2">
    <div class="span-6">
        <p>An flower pot is designed which can be stacked on the birdhouse. Planting bird-attracting plants in it can increase the possibility of bird using the birdhouse. Moreover, it's a decoration for the window. The flower pot can be used standalone, without the birdhouse, buying them as accessories and change the flower above the birdhouse may attract different kinds of bird.</p>
        <img class="span-6" src="img/project/birdhouse_pot.jpg" alt=""/>
    </div>
    <img class="span-6" src="img/project/birdhouse_plants.jpg" alt=""/>

    <div class="span-return"></div>
    <img class="span-6" src="img/project/birdhouse_design2_explain.jpg" alt=""/>
    <img class="span-6" src="img/project/birdhouse_design2.jpg" alt=""/>
</div>

<div class="block window">
    <div class="span-5-center">
        <img src="img/project/birdhouse_window.jpg" alt=""/>
    </div>

</div>

<div class="block-full dialogue-bob">
    <div class="span-1"></div>
    <img class="span-1" src="img/project/birdhouse_bob_face_smile_side.png" alt=""/>
    <div class="span-1"></div>
    <p class="span-6">That's nice. But ummmm..., it's still not cool enough. Can you add some features such as playing music, something like an iPod?</p>
</div>
<div class="block-full dialogue-me">
    <div class="span-1"></div>
    <img class="span-1" src="img/project/birdhouse_me_face.png" alt=""/>
    <div class="span-1"></div>
    <p class="span-6">Sure, I've already prepared it for you...</p>
</div>

<img class="block-full ipod" src="img/project/birdhouse_ipod.jpg" alt=""/>
